html{
    background: linear-gradient(to bottom, rgba(192,192,192,1), rgba(255,255,0,1), rgba(255,165,0,1));
    background-repeat: no-repeat;
    background-size: contain;
}
#greatcontainer{
    margin: 0px 15% 20px 15%;
    /* padding: 130px 10px 30px 10px; */
    padding-top: 100px;
    box-shadow: 0 0 90px rgba(48, 48, 48, 1);
    background: url(img/background-top.jpg), linear-gradient( to bottom, rgba(255, 255, 255, 1), rgba(10, 218, 250, 1), rgba(0, 47, 255, 1)),  url(img/background-bottom.jpg);
    background-position: top left, center center, bottom left;
}
body{
    margin-top: -4%;
    padding: 0;
    display: inline;
    /*background: linear-gradient(to bottom, rgba(192,192,192,1), rgba(255,255,0,1), rgba(255,165,0,1));*/
}

header{
    background-image: url(img/background-top.jpg);
    background-repeat: round;
    height: fit-content;
}
main{
    background: linear-gradient( to bottom, rgba(255, 255, 255, 1), rgba(10, 218, 250, 1), rgba(0, 47, 255, 1));
}
footer{
    background-image: url(img/background-bottom.jpg);
    background-repeat: round;
}

#firstheadline-container{
    display: flex;
    justify-content: center;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkorange;
    border: groove orangered 5px;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.search-field{
    margin: 10px auto;
}
#elastic{
    margin-top: 1px;
}
.search-container{
    display: flex;
    justify-content: center;
}
