html{
    /*background: linear-gradient(to bottom, rgba(192,192,192,1), rgba(255,255,0,1), rgba(255,165,0,1));*/
    background-repeat: no-repeat;
    background-size: contain;
}
#greatcontainer{
    margin: 0px 15% 20px 15%;
    /* padding: 130px 10px 30px 10px; */
    padding-top: 100px;
    box-shadow: 0 0 90px rgba(48, 48, 48, 1);
    /*background: /*url(img/background-top.jpg),*/ /*linear-gradient( to bottom, rgba(255, 255, 255, 1), rgba(10, 218, 250, 1), rgba(0, 47, 255, 1)),  url(img/background-bottom.jpg);*/
    background-position: top left, center center, bottom left;
}
body{
    padding: 0;
    display: inline;
    /*background: linear-gradient(to bottom, rgba(192,192,192,1), rgba(255,255,0,1), rgba(255,165,0,1));*/
}

.header-logo{
    display: inline-block;
}
header{
    width: 100%;
    height: 700px;
    background: url(img/background-top.jpg);
    background-size: cover;
}
main{
    background: linear-gradient( to bottom, rgba(255, 255, 255, 1), rgba(10, 218, 250, 1), rgba(0, 47, 255, 1));
}
.footerimg{
    display: inline-block;
}

#mytable{
    border: black 1px solid;
    margin: auto;
}
#firstheadline-container{
    display: flex;
    justify-content: center;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkorange;
    border: groove orangered 5px;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.search-field{
    position: absolute;
    margin: 630px auto 70px auto;
}
#elastic{
    margin-top: 1px;
}
.search-container{
    display: flex;
    justify-content: center;
}
th {
    font-size: 13px;
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
    padding: 8px;
  }
  td {
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
  }
  tr:hover td {background: #ccddff;}
